
body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: #333;
}

body p {
	margin: 0;
}


.jumbotron#index {
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbotron#index img {
	margin: 0% auto;
}

section.ligne {
	/* border-top: 5px solid #CA182F; */
	padding: 20px 0;
}


#intro p {
	font-size: 130%;
	margin: 15px 0;
	text-align: center;
}

.ligne .container h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	font-family: 'Open Sans';
	font-size: 26px;
}

.ligne:nth-of-type(1n){
	background-color: #FFF;
}

.ligne:nth-of-type(2n){
	background-color: #EEE;
}
