.head{
		position: absolute;
		 z-index: 2;
  	width: 100%;

}

body{
		position: absolute;
	 	width: 100%;
		padding-top: 50px;
}

h1, h2, h3{
	color: black;
	font-family: "Times New Roman", Arial;
}

h1{
    border-radius: 2px #87CEEB solid;
    box-shadow: 6px 6px 6px black;
    padding: 12px;
    margin: 50px; /* Marge extérieure de 50px */
}

h3{
	font-style: italic;
}


p{
	color:	black	 ;
	font-size: 16px;
	text-align: justify;
	left: 10px;
}

nav{
	list-style-type: none;
	position: fixed;
  margin: 0;
	background-color: #f3f3f3;
	top: 0;
	left: 0;
	width: 100%;
}

nav li {
	display: inline;
	float : left;
}

nav li a:hover {
    background-color: #777;
		color: white;
}


nav li a{
	 	z-index: 1;
		display:block;
		text-decoration: none;
		color: black;
		padding:20px 20px 4px 10px;
		font:bold 1em/1em Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		text-shadow: 1px 1px 1px #555;
}

li{
	list-style-type: none;
}
